:root {
  --background-sun: #e7e5f0;
  --background-moon: #161722;

  --background-tasklist-sun: #fafafa;
  --background-tasklist-moon: #25273c;

  --gray: #c2c4d5;
  --blue: #3a7bfd;

  --text-white: #fbfbfb;
  --text-gray: #9394a5;

  --gray-placeholder: hsl(235, 19%, 35%);
  
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 16px 'Josefin Sans', sans-serif;
  color: var(--background-moon);
  background: --background-tasklist-sun;
}

input, textarea {
  font-family: "Poppins";
}

.container {
  max-width: 484px;
  margin: 0 auto;
  padding: 5.5rem 0 3rem;
}

button, .checkmark {
  cursor: pointer;
}

.checkmark {
  background: transparent;
  border-radius: 100%;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--gray);
  margin-right: 10px;
  position: relative;
}

.checkmark:hover {
  background: linear-gradient(#57ddff,#c058f3)
}

.bg-tasklit-sun {
  background: var(--background-tasklist-sun);
}
 .bg-tasklit-moon {
  background: var(--background-tasklist-moon);
}

// media query
@media (max-width: 720px) {
  .container {
    max-width: 320px;
  }
}
@media (max-width: 320px) {
  .container {
    max-width: 300px;
  }
}